@model Avaliativa.Models.Participante

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4">Excluir Participante</h1>

<div class="card">
    <div class="card-header">
        <h4>Confirmação de Exclusão</h4>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Você tem certeza que deseja excluir este participante?</h5>

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Evento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Evento.Nome)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <form asp-action="Delete" method="post">
        <!-- Campos ocultos para garantir a exclusão do participante correto -->
        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-danger btn-lg">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar à lista</a>
    </form>
</div>
